.searchContent {
  height: 100vh;
  background-color: black;
}

.search-container {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 5rem 0;
}

.no-results {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #c5c5c5;
  height: 100%;
  padding: 8rem;
}

.movie {
  flex: 1 1 auto;
  display: inline-block;
  padding-right: 0.5rem;
  padding-bottom: 7rem;
}

.movie__column-poster :hover {
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.movie__poster {
  width: 90%;
  border-radius: 5px;
}
